  h1 {
      font-family: Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
  }

  .area {
      stroke: none;
      opacity: 0.9;
  }

  .area:hover {
      opacity: 1;
      fill: red;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }